.App{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(18, 0, 26);
}

.generator{
  background-image: linear-gradient(-225deg, #f5f5fa 0%, #352626 100%);
  border-radius: 10px;
  box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.863);
  padding: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.generator__header{
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}
.generator__password{
  background-color: rgb(236, 226, 226);
  padding: 13px 10px;
  color: #000;
  border: 2px solid #000;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.copy__btn{
  color: rgb(24, 18, 82);
  background: none;
  border: none;
  cursor: pointer;
}
.generator__btn{
  background: rgb(24, 18, 82);
  border: none;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  color: rgb(232, 240, 232);
  border-radius: 30px;
  font-size: 17px;
  cursor: pointer;

}
.form-group{
  display: flex;
  justify-content: space-between;
  color: #000;
  font-weight: bold;
  margin-bottom: 15px;
}